.flex
  display box
  display -webkit-box
  display -webkit-flex
  display -moz-box
  display -ms-flexbox
  display flex
.flex1
  -prefix-box-flex 1
  -webkit-box-flex 1
  -webkit-flex 1
  -moz-box-flex 1
  -ms-flex 1
  flex 1
.flex-c
  -webkit-box-direction normal
  -webkit-box-orient vertical
  -moz-flex-direction column
  -webkit-flex-direction column
  flex-direction column
.flex-r
  -webkit-box-direction normal
  -webkit-box-orient vertical
  -moz-flex-direction row
  -webkit-flex-direction row
  flex-direction row
.pricing-tables
  -webkit-flex-flow row wrap
  -ms-flex-flow row wrap
  flex-flow row wrap
  -webkit-align-content flex-start
  -ms-flex-line-pack start
  align-content center
.flex-flow-row
  -webkit-flex-flow row wrap
  -ms-flex-flow row wrap
  flex-flow row wrap
  -webkit-align-content flex-start
  -ms-flex-line-pack start
  align-content center
.flex-center
  -webkit-box-align center
  -moz-align-items center
  -webkit-align-items center
  align-items center
.flex-j-c
  -webkit-box-pack center
  -moz-justify-content center
  -webkit-justify-content center
  justify-content center
ul,li
  padding 0
  margin 0
li
  list-style none
